{% extends "website/base.html" %}
{% load static %}

{% block title %}
- Accueil {{ block.super }}
{% endblock %}

{% block content %}

<!-- Boxes Section Begin -->
<div class="boxes-section">
    <div class="container-fluid">
        <div class="boxes-img">
            <div class="row">
                <div class="col-lg-4">
                    <div class="boxes-item">
                        <div class="boxes-pic">
                            <img src={% static "img/box-1.jpg" %} alt="">
                            <div class="boxes-text">
                                <h1>Crossfit</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="boxes-item">
                        <div class="boxes-pic">
                        <img src={% static "img/box-2.jpg" %} alt="">
                            <div class="boxes-text">
                                <h1>WOD</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="boxes-item">
                        <div class="boxes-pic">
                        <img src={% static "img/box-3.jpg" %} alt="">
                            <div class="boxes-text">
                                <h1>Enfants & Ados</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Boxes Section End -->
<!-- About Counter Section Begin -->
<section class="about-counter set-bg spad" data-setbg="{% static "img/about-counter.jpg" %}">
    <div class="container">
        <div class="row about-counter-text">
            <div class="col-lg-6 counter-head">
                <h2>Nous sommes ouverts tous les jours</h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page 
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
                        as opposed to using 'Content here, content here', making it look like readable English.</p>
            </div>
            <div class="col-lg-6 counter-btn text-center">
            {% if user.is_authenticated %}
                <a href="{% url "event:event_calendar" %}" class="primary-btn">Réserver un cours</a>
            {% else %}
                <a href="{% url "user:register" %}" class="primary-btn">S'inscrire maintenant</a>
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 items-center">
                <div class="about-single-counter">
                    <div class="counter-icon">
                        <i class="flaticon-044-fitness-1"></i>
                    </div>
                    <div class="counter-text">
                        <span class="counter-num counter"> {{ coaches }}</span>
                        <span>{% if coaches == 1 or coaches == 0 %} Coach {% else %} Coachs{% endif %}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about-single-counter">
                    <div class="counter-icon">
                        <i class="flaticon-043-muscles"></i>
                    </div>
                    <div class="counter-text">
                        <span class="counter-num counter"> {{ customers }}</span>
                        <span>{% if customers == 1 or customers == 0 %} Membre {% else %} Membres{% endif %}</span>
                    </div>
                </div>
            </div>        
            <div class="col-lg-4">
                <div class="about-single-counter">
                    <div class="counter-icon">
                        <i class="flaticon-008-tactics-2"></i>
                    </div>
                    <div class="counter-text">
                        <span class="counter-num counter">{{ all_week_events.count }}</span>
                        <span>Cours cette semaine</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Counter Section End -->
<!-- About Team Section Begin -->
<section class="about-team spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="section-title">
                    <h2>Rencontre nos Coachs</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page 
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
                        as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-team-member">
                    <div class="team-member-pic">
                        <img src="{% static "img/team/member-1.jpg" %}" alt="">
                    </div>
                    <div class="team-member-desc">
                        <h3>Johnny</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page 
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
                        as opposed to using 'Content here, content here', making it look like readable English.</p>
                    </div>
                    <div class="team-member-certification">
                        <h5>Certifications</h5>
                        <ul>
                            <li>CrossFit Level 1</li>
                            <li>CrossFit Level 2</li>
                            <li>CF Barbell</li>
                            <li>CF Olympic Weightlifting</li>
                            <li>CF Gymnastics</li>
                            <li>CF Movement & Mobility</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-team-member">
                    <div class="team-member-pic">
                        <img src="{% static "img/team/member-2.jpg" %}" alt="">
                    </div>
                    <div class="team-member-desc">
                        <h3>Jacqueline</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page 
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
                        as opposed to using 'Content here, content here', making it look like readable English.</p>
                    </div>
                    <div class="team-member-certification">
                        <h5>Certifications</h5>
                        <ul>
                            <li>CrossFit Level 1</li>
                            <li>CrossFit Level 2</li>
                            <li>CF Barbell</li>
                            <li>CF Olympic Weightlifting</li>
                            <li>CF Gymnastics</li>
                            <li>CF Movement & Mobility</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-team-member">
                    <div class="team-member-pic">
                        <img src="{% static "img/team/member-3.jpg" %}" alt="">
                    </div>
                    <div class="team-member-desc">
                        <h3>Francis</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page 
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
                        as opposed to using 'Content here, content here', making it look like readable English.</p>
                    </div>
                    <div class="team-member-certification">
                        <h5>Certifications</h5>
                        <ul>
                            <li>CrossFit Level 1</li>
                            <li>CrossFit Level 2</li>
                            <li>CF Barbell</li>
                            <li>CF Olympic Weightlifting</li>
                            <li>CF Gymnastics</li>
                            <li>CF Movement & Mobility</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}