{% extends "website/base.html" %}
{% load static %}

{% block title %}
- Gestion Abonnement {{ block.super }}
{% endblock %}

{% block content %}
<!-- Hero Section Begin -->
<div class="hero-section set-bg" data-setbg="{% static "img/profile-bg.jpg" %}">
    <div class="container text-center">
        <div class="row">
            <div class="hero-text col-lg-12">
                <h1>Gestion abonnement</h1>
                <p>{{ member }}</p>
            </div>
        </div>      
    </div>
</div>
<!-- Hero Section End -->
<div class="container ">
    <div class="row flex justify-content-center">
    {% for membership in membership_list %}
        <div class="col-sm-4 col-md-4" style="margin-top:25px;margin-bottom:25px;">
            <div class="card" >
                <div class="card-header">
                    {{ membership.membership_type }} {% if membership.membership_type == current_membership %}<small>Formule actuelle</small>{%endif%}
                </div>
                <div class="card-body" style="height:150px;">
                    <h5 class="card-title">Prix : ${{ membership.price }}<small>/mois</small></h5>
                    {% if membership.membership_type == 'PREMIUM' %}
                    <p class="card-text">Nombre de cours : Illimité</p>
                    {% else %}
                    <p> Nombre de cours d'essais : {{ membership.trial_courses }}</p>
                    {% endif %}
                    {% if membership.membership_type != current_membership %}
                    <form method="POST" action="{% url 'membership:change'%}">
                        {% csrf_token %}
                        <button class="btn btn-warning">Changer</button>
                        
                        <input type="hidden" name="membership_type" value="{{ membership.membership_type }}">
                        <input type="hidden" name="member" value="{{ member.pk }}">
                    </form>
                    {% else %}
                    <form method="POST" action="{% url 'membership:deactivate'%}">
                        {% csrf_token %}
                        <button class="btn btn-warning">Désactiver</button>
                        <input type="hidden" name="member" value="{{ member.pk }}">
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}