{% load static %}

<link href='{% static "fullcalendar/main.css" %}' rel='stylesheet' />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css"/>
<script src='{% static "fullcalendar/main.js" %}'></script>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridWeek',
            selectable: true,
            editable: true,
            events: [
                {% for event in events %}
                    {
                        title: "{{ event.name}}",
                        start: '{{ event.start|date:"Y-m-d H:i" }}',
                        end: '{{ event.end|date:"Y-m-d H:i" }}',
                        id: '{{ event.id }}',
                        allDay: false,
                    },
                {% endfor %}
            ],
            eventClick: function(info) {
                var eventObj = info.event;
                location.replace(eventObj.id)
            }
        });
        calendar.setOption('locale', 'fr');
        calendar.render();
    });

    </script>
{% csrf_token %}
<br/>
<h2 align="center"><a href="#">Calendrier d'évènement</a></h2>
<br/>
<div id='calendar'></div>
