<h1> {{ event.name }}</h1>
<small>
    Nombres d'inscrits: {{ event.eventmember_set.count }}/ {{ event.slot }}<br>
    <form method="POST" action="{% url 'event:add_eventmember'%}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if event.eventmember_set.count < event.slot %}
        <button>S'inscrire à ce cours</button>
    {% endif %}
</form>
</small>
<hr>
<p>
Début de l'évènement : {{ event.start }}
</p>
<p>
Fin de l'évènement : {{ event.end }}
</p>
<a href="{% url 'event:event_calendar'%}">Retour</a>

<script>
    var user_id = "{{ user.id }}"
    var event_id = "{{ event.pk }}"
    document.getElementById("id_user").value = user_id
    document.getElementById("id_event").value = event_id
</script>