
{% extends "website/base.html" %}
{% load static %}
{% load tz %}

{% block title %}
- Nos Cours {{ block.super }}
{% endblock %}

{% block content %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('.active').removeClass('active');
        $('#event').addClass('active');
    });
</script>

<!-- Hero Section Begin -->
<div class="blog-details-hero set-bg" data-setbg="{% static "img/classes-bg.jpg" %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-0 m-auto">
                <div class="bh-text">
                    <h3>Informations <br>sur le cours</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Section End -->

<div class="col-lg-12 d-flex justify-content-center" style="margin-top:25px;">
    <div class="jumbotron col-lg-8 d-flex justify-content-center">
        <div class="col-lg-8 text-center">
            <h1 class="display-4">{{ event.name }}</h1>
            <p class="lead">Début : {{ event.start }}<br>Fin : {{ event.end }}</p>
            <p>Nombres d'inscrits: {{ event.reserved_slot }}/ {{ event.slot }}</p>
            <hr class="my-4">
            {% if event.start|date:"YmdHis" > time|date:"YmdHis"  %}

                {% if is_registered is True %}

                    {% if  has_cancelled is False %}

                    Vous êtes déjà inscrit à ce cours
                    <form method="POST" action="{% url 'event:unsubscribe_event'%}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary btn-lg">Se désinscrire du cours</button>
                    </form>

                    {% else %}

                    <p>Vous vous êtes désinscrit de ce cours et ne pouvez plus vous y réinscrire, veuillez contacter la box.</p>

                    {% endif %}

                {% elif active_membership is True and event.reserved_slot < event.slot%}

                    {% if user.user_membership.membership.membership_type == "TRIAL" and user_remaining_courses and user_remaining_courses == 0 %}
                    
                    <p>Vous n'avez plus de cours d'essai disponible, veuillez contacter la box.</p>

                    {% else %}

                    <form method="POST" action="{% url 'event:register_event'%}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary btn-lg">S'inscrire à ce cours</button>
                    </form>

                    {% endif %}

                {% elif active_membership is False %}
                <p>Votre abonnement est inactif, veuillez contacter la box.</p>
                {% endif %}
                

            {% else %}

            <p>Cet évènement est passé, impossible de s'inscrire.</p>

            {% endif %}
                
        </div>
    </div>
</div>
<div class="text-center" style="margin-bottom:50px;">
    <a class="primary-btn" href="{% url 'event:event_calendar'%}">Retour</a>
</div>

{% if user.type == "EMPLOYEE" %}
<p>Les gens inscrits:</p>
    <ul>
    {% for user_registered in event.eventmember_set.all %}

        {% if user_registered.date_cancellation is None %}

            <li>{{ user_registered.user }} inscrit le {{ user_registered.date_inscription }}</li>

        {% endif %}

    {% endfor %}
    </ul>
{% endif %}

<script>
    let user_id = "{{ user.id }}"
    let event_id = "{{ event.pk }}"
    document.getElementById("id_user").value = user_id
    document.getElementById("id_event").value = event_id
</script>

{% endblock %}