{% extends "website/base.html" %}
{% load static %}
{% load tz %}

{% block title %}
- Nos Cours {{ block.super }}
{% endblock %}

{% block content %}


<link href='{% static "fullcalendar/main.css" %}' rel='stylesheet' />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css"/>
<script src='{% static "fullcalendar/main.js" %}'></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridWeek',
            selectable: true,
            validRange: function(nowDate){
                return {start: nowDate} //to prevent anterior dates
            },
            firstDay:1, // Lundi premier jour de la semaine
            buttonText: {
                today:    'Aujourd\'hui',
            },
            events: [
                {% for event in events %}
                    {
                        start: '{{ event.start|date:"Y-m-d H:i" }}',
                        end: '{{ event.end|date:"Y-m-d H:i" }}',
                        id: '{{ event.id }}',
                        allDay: false,
                       
                        {% if event.eventmember_set.count < event.slot %}
                            title: "{{ event.name }}",
                            color: '#3ADF00',
                        {% else %}
                            title: "[Complet] {{ event.name }}",
                            color: '#FF0000',
                        {% endif %}
                    },
                {% endfor %}
            ],

            eventClick: function(info) {
                var eventObj = info.event;
                location.replace(eventObj.id)
            }
        });
        calendar.setOption('locale', 'fr');
        calendar.render();

        $('.active').removeClass('active');
        $('#event').addClass('active');
    });
    </script>
{% csrf_token %}
<!-- Hero Section Begin -->
<div class="blog-details-hero set-bg" data-setbg="{% static "img/classes-bg.jpg" %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-0 m-auto">
                <div class="bh-text">
                    <h3>Les cours à venir</h3>
                    {% if user.user_membership.membership.membership_type == "TRIAL" and user.type != "EMPLOYEE" %}
                    <p>Vous êtes actuellement en abonnement d'essai.<br>Il vous reste actuellement {{ user_remaining_courses }} cours d'essai</p>
                    <a href="{% url "event:user_registrations" %}" class="primary-btn">Voir mes cours</a>
                    {% endif %}
                    {% if user.type == "EMPLOYEE" %}
                        <a href="{% url "event:add_event" %}" class="primary-btn">Ajouter un cours</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Section End -->

<div id='calendar'>

</div>

{% endblock %}