{% extends "website/base.html" %}
{% load static %}

{% block title %}
- Blog {{ block.super }}
{% endblock %}

{% block content %}
<!-- Blog Details Hero Section Begin -->
<section class="blog-details-hero set-bg" data-setbg="{% static "img/blog-bg.jpg" %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-0 m-auto">
                <div class="bh-text">
                    <h3>{{ contactmessage.subject }}</h3>
                    <ul>
                        <li>Envoyé par {{ contactmessage.name }} ({{ contactmessage.email }})</li>
                        <li>{{ contactmessage.message_date }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero Section End -->
<!-- Blog Details Section Begin -->
<div class="col-lg-12 d-flex justify-content-center">
    <div class="row contact-wrap col-lg-8" style="margin-top:25px;margin-bottom:25px;">
        
        <div class="col-lg-6 p-0 m-auto" >
            <div class="text-center">
                <h3>Contenu du message</h3>
            </div>
            <div class="blog-details-text" style="margin-top:25px;margin-bottom:25px;">
                <div class="blog-details-title">
                    {{ contactmessage.message|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% if not contactmessage.answer_date %}
<div class="col-lg-12 d-flex justify-content-center">
    <div class=" row contact-wrap col-lg-8" style="margin-top:25px;margin-bottom:25px;">
        <div class="col-lg-8 p-0 m-auto" >
            <form method="POST" id="contactForm" name="contactForm" class="contactForm" action="{% url "contact_us:answer_message" %}">
                {% csrf_token %}
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8" style="margin-top:25px;margin-bottom:25px;">
                        <div class="form-group">
                            <label class="label" for="#">Répondre au message</label>
                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message" required></textarea>
                            <input type="hidden" name="contact_email" value="{{ contactmessage.email}}" id="contact_email">
                            <input type="hidden" name="subject" value="{{ contactmessage.subject}}" id="subject">
                            <input type="hidden" name="message_id" value="{{ contactmessage.id}}" id="message_id">

                        </div>
                    </div>
                    <div class="col-lg-6" style="margin-bottom:25px;">
                        <div class="text-center">
                            <button type="submit" class="submit-btn contact-btn" style="height:50px;">Envoyer la réponse</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="col-lg-12 d-flex justify-content-center">
    <div class="row contact-wrap col-lg-8" style="margin-top:25px;margin-bottom:25px;">
        
        <div class="col-lg-6 p-0 m-auto" >
            <div class="text-center">
                <h3>Répondu le {{ contactmessage.answer_date}}</h3>
            </div>
            <div class="blog-details-text" style="margin-top:25px;margin-bottom:25px;">
                <div class="blog-details-title">
                    {{ contactmessage.answer|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

