{% extends "website/base.html" %}
{% load static %}

{% block title %}
- Blog {{ block.super }}
{% endblock %}

{% block content %}
<!-- Blog Details Hero Section Begin -->
<section class="blog-details-hero set-bg" data-setbg="{% static "img/blog-bg.jpg" %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-0 m-auto">
                <div class="bh-text">
                    <h3>{{ contactmessage.subject }}</h3>
                    <ul>
                        <li>Envoyé par {{ contactmessage.name }} ({{ contactmessage.email }})</li>
                        <li>{{ contactmessage.date }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero Section End -->
<!-- Blog Details Section Begin -->
<div class="col-lg-12 d-flex justify-content-center">
    <div class=" row contact-wrap col-lg-8" style="margin-top:25px;margin-bottom:25px;">
        <div class="col-lg-8 p-0 m-auto" >
            <div class="blog-details-text" style="margin-top:25px;margin-bottom:25px;">
                <div class="blog-details-title">
                    {{ contactmessage.message|safe }}
                </div>
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <div class="row d-flex justify-content-center" style="margin-top:25px;margin-bottom:25px;">
                        {% if user.type == "EMPLOYEE" %}
                <div class="blog-btn">'
                    <a href="" class="primary-btn">Répondre</a>
                </div>
            {% endif %}
                <div class="blog-btn">'
                    <a href="" class="primary-btn">Retour</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Details Section End -->
{% endblock %}