{% extends "website/base.html" %}
{% load static %}

{% block title %}
- Blog {{ block.super }}
{% endblock %}

{% block content %}
<!-- Hero Section Begin -->
<div class="blog-details-hero set-bg" data-setbg="{% static "img/blog-bg.jpg" %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-0 m-auto">
                <div class="bh-text">
                    <h3>Blog</h3>
                    {% if user.type == "EMPLOYEE" %}
                    <a href="{% url "blog:add_article" %}" class="primary-btn">Ajouter un article</a>
                    {% endif %}
                </div>
            </div>
        </div>      
    </div>
</div>
<!-- Hero Section End -->
<!-- Blog Section Begin -->

<section class="blog-section spad">
    <div class="container">
        <div class="row">
        {% for article in object_list %}
            <div class="col-lg-3 col-md-6">
                <div class="single-blog-item blog-item" style="height:400px;">
                    <div class="flex justify-content-center text-center" style="padding-top:20px;">
                        <a href="{% url 'blog:article_detail' article.pk %}"><img src="{% static "img/logo.png" %}" alt=""></a>
                    </div>
                    <div class="blog-text">
                        <span class="blog-time">{{ article.publication_date }}</span>
                        <h3>{{ article.title }}</h3>
                        <!-- <p>{{ article.body|safe }}</p> This content will be replaced by the Article Snippet when created -->
                        {% if user.type == "EMPLOYEE" %}
                        <div class="blog-widget">
                            <ul>
                                <li><a href="{% url 'blog:update_article' article.pk %}"><span>Modifier Article</span></a></li>
                                <li><a href="{% url 'blog:delete_article' article.pk %}"><span>Supprimer Article</span></a></li>
                                <li></li>
                            </ul>
                        </div>
                        {% else %}
                        <div class="blog-widget">
                            <ul>
                                <li><a href="{% url 'blog:article_detail' article.pk %}"><span>Voir Article</span></a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}    
        </div>
    </div>
</section>

{% endblock %}

