{% extends "website/base.html" %}
{% load static %}

{% block title %}
- Blog {{ block.super }}
{% endblock %}

{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('.active').removeClass('active');
        $('#blog').addClass('active');
    });
</script>
<!-- Blog Details Hero Section Begin -->
<section class="blog-details-hero set-bg" data-setbg="{% static "img/blog-bg.jpg" %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-0 m-auto">
                <div class="bh-text">
                    <h3>{{ article.title }}</h3>
                    <ul>
                        <li>Publié par {{ article.author.first_name }} {{ article.author.last_name }}</li>
                        <li>{{ article.publication_date }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero Section End -->
<!-- Blog Details Section Begin -->
    <section class="blog-details-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            {{ article.body|safe }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                <br><br><br>
                    <div class="row d-flex justify-content-center">
                    
                    {% if user.type == "EMPLOYEE" %}
                        <div class="blog-btn">'
                            <a href="{% url 'blog:update_article' article.pk %}" class="primary-btn">Modifier</a>
                        </div>
                    {% endif %}
                        <div class="blog-btn">'
                            <a href="{% url 'blog:article_list'%}" class="primary-btn">Retour</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
    


{% endblock %}