{% extends "website/base.html" %}
{% load static %}

{% block title %}
- Changement de mot de passe {{ block.super }}
{% endblock %}

{% block content %}
<!-- Hero Section Begin -->
<div class="hero-section set-bg" data-setbg="{% static "img/aboutus-bg.jpg" %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero-text">
                    <h1>Changement de mot de passe</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Section End -->
<div class="container" style="margin-top:30px">
    <div class="col-md-10 col-md-offset-1 d-flex align-items-center justify-content-center">
        <div class="panel panel-default">
            <div class="panel-heading d-flex align-items-center justify-content-center">
                <h3 class="panel-title"><strong>Modifiez votre mot de passe</strong></h3>
            </div>
            <hr style="margin-top:10px;margin-bottom:10px;" >
            <div class="panel-body ">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}<br />
                        {{ field }}
                        {% if field.help_text %}
                        <div class="form-text text-muted">
                            <small>{{ field.help_text }}</small>
                        </div>
                        {% endif %}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <div class="controls d-flex align-items-center justify-content-center">
                        <button type="submit" name="change_password" class="btn btn-success">Enregistrer les Modifications</button>
                    </div>
                    <hr style="margin-top:10px;margin-bottom:10px;" >
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}