{% extends "website/base.html" %}
{% load static %}

{% block title %}
- Création Compte {{ block.super }}
{% endblock %}

{% block content %}
<!-- Hero Section Begin -->
<div class="blog-details-hero set-bg" data-setbg="{% static "img/profile-bg.jpg" %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-0 m-auto">
                <div class="bh-text">
                    <h3>Profil de {{ member.first_name }} {{ member.last_name }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Section End -->
<div class="container emp-profile">
    <div class="row">
        <div class="col-lg-4">
            <div class="profile-img">
                {% if member.profile_picture %}
                    <img src="{{ member.profile_picture.url}}" style="max-width:50%; height:auto; " alt=""/>
                {% else %}
                    <img src="{% static "img/profile_default.jpg" %}" style="max-width:50%; height:auto; " alt=""/>
                {% endif %}
                <div class="file btn btn-lg btn-primary">
                    <a type="button" data-toggle="modal" data-target="#exampleModal">Changer de Photo</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="profile-head">
                <h2>
                    {{ member.first_name }} {{ member.last_name }}
                </h2>
                <h5>
                    Membre depuis le {{ member.date_joined }}
                </h5>
                <p class="proile-rating">ABONNEMENT EN COURS: 
                    
                    {% if member.user_membership.active %} 
                    <span>
                        {{member.user_membership.membership.membership_type}}
                    </span>
                        {% if member.user_membership.membership.membership_type == "PREMIUM" %} 
                        depuis le {{member.user_membership.subscribtion_date }}
                        {%endif%} 
                    {% else %}
                    <span>
                        AUCUN 
                    </span>
                        {% if member.user_membership.membership.membership_type == "PREMIUM" %} 
                        désabonné depuis {{member.user_membership.unsubscription_date }}
                        {%endif%} 
                    {% endif %} 
                  
                </p>
            </div>
         </div>
        <div class="col-lg-2 text-center">
            <a href="{% url "user:member_update" member.pk%}" class="btn btn-secondary">Modifier infos</a>
        </div>
    </div>
</div>
<div class="col-lg-12 flex d-flex justify-content-center">
    <div class="col-lg-6">
        <div class="tab-content profile-tab" id="myTabContent">
            <div>
                <div class="row">
                    <div class="col-lg-6 align-text-center">
                        <label>Prénom</label>
                    </div>
                    <div class="col-lg-6">
                        <p>{{ member.first_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Nom</label>
                    </div>
                    <div class="col-lg-6">
                        <p>{{ member.last_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Adresse Mail</label>
                    </div>
                    <div class="col-lg-6">
                        <p>{{ member.email }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Date de Naissance</label>
                    </div>
                    <div class="col-lg-6">
                        <p>{{ member.date_of_birth }}</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Adresse</label>
                    </div>
                    <div class="col-lg-6">
                        <p>{% if member.address_info %}{{ member.address_info }} {% else %} Non renseigné {% endif %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Infos additionnelles adresse</label>
                    </div>
                    <div class="col-lg-6">
                        <p>{% if member.address_additional_info %}{{ member.address_additional_info }} {% else %} Non renseigné {% endif %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Ville</label>
                    </div>
                    <div class="col-md-6">
                        <p>{% if member.city %}{{ member.city }} {% else %} Non renseigné {% endif %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Code Postal</label>
                    </div>
                    <div class="col-lg-6">
                        <p>{% if member.zip_code %}{{ member.zip_code }} {% else %} Non renseigné {% endif %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Pays</label>
                    </div>
                    <div class="col-lg-6">
                        <p>{% if member.country %}{{ member.country }} {% else %} Non renseigné {% endif %}</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-bottom:50px;">
                    <a href="{% url "website:home" %}" class="primary-btn">Revenir à l'Accueil</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Contact Answer-->
<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Changer la photo de profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" enctype="multipart/form-data" id="change_profile_picture" name="change_profile_picture" class="contactForm" action="{% url "user:change_profile_picture" %}">
            {% csrf_token %}
        <div class="modal-body input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Télécharger</span>
            </div>
            <div class="custom-file">
                <input lang="fr" type="file" name="file" class="custom-file-input" id="inputGroupFile01" onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])">
                <label class="custom-file-label">Choisir un fichier</label>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <input type="hidden" name="user_id" value="{{ member.id}}" id="user_id">
            <button type="submit" class="submit-btn contact-btn" >Valider le changement</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}