{% extends "website/base.html" %}
{% load static %}

{% block title %}
- Création Compte {{ block.super }}
{% endblock %}

{% block content %}
<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                <div class="file btn btn-lg btn-primary">
                    Change Photo
                    <input type="file" name="file"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h2>
                    {{ user.first_name }} {{ user.last_name }}
                </h2>
                <h5>
                    Membre depuis le {{ user.date_joined }}
                </h5>
                <br><br>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="user_info-tab" data-toggle="tab" href="#user_info" role="tab" aria-controls="user_info" aria-selected="true">Informations personnelles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="address_info-tab" data-toggle="tab" href="#address_info" role="tab" aria-controls="profile" aria-selected="false">Adresse</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work text-center">
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="user_info" role="tabpanel" aria-labelledby="user_info-tab">
                    <div class="row">
                        <div class="col-md-6 align-text-center">
                            <label>Prénom</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.first_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nom</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.last_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Adresse Mail</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.email }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Date de Naissance</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.date_of_birth }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Mot de Passe</label>
                        </div>
                        <div class="col-md-6 d-flex justify-content-between">
                            *********<button action="href="{% url "user:change_password" %}"" type="button" class="btn btn-secondary">Modifier</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="address_info" role="tabpanel" aria-labelledby="address_info-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Adresse</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.address_info }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Infos additionnelles adresse</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.address_additional_info }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Ville</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.city }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Code Postal</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.zip_code }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Pays</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.country }}</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button action="{% url "website:home" %}" type="button" class="btn btn-success">Revenir à l'Accueil!</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}