{% extends "website/base.html" %}
{% load static %}

{% block title %}
- Création Compte {{ block.super }}
{% endblock %}

{% block content %}
<!-- Hero Section Begin -->
<div class="blog-details-hero set-bg" data-setbg="{% static "img/profile-bg.jpg" %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-0 m-auto">
                <div class="bh-text">
                    <h3>Mise à jour du profil</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Section End -->
{% if request.path|slice:":13" == '/user/detail/'%}
<div class="container emp-profile">
    <div class="row">
        <div class="col-lg-4">
            <div class="profile-img">
                {% if member.profile_picture %}
                    <img src="{{ member.profile_picture.url}}" style="max-width:50%; height:auto; " alt=""/>
                {% else %}
                    <img src="{% static "img/profile_default.jpg" %}" style="max-width:50%; height:auto; " alt=""/>
                {% endif %}
                <div class="file btn btn-lg btn-primary">
                   <a type="button" data-toggle="modal" data-target="#exampleModal">Changer de Photo</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="profile-head">
                <h2>
                    {{ member.first_name }} {{ member.last_name }}
                </h2>
                <h5>
                    Membre depuis le {{ member.date_joined }}
                </h5>
                {% if member.type == "EMPLOYEE" %}
                <p class="proile-rating">RÔLE: <span>Employé</span></p>
                {% else %}
                <p class="proile-rating">ABONNEMENT EN COURS: <span>{{member.user_membership.membership.membership_type}}</span></p>
                {% endif %}
            </div>
         </div>
    </div>
</div>
{% else %}
<div class="container emp-profile">
    <div class="row">
        <div class="col-lg-4">
            <div class="profile-img">
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url}}" style="max-width:50%; height:auto; " alt=""/>
                {% else %}
                    <img src="{% static "img/profile_default.jpg" %}" style="max-width:50%; height:auto; " alt=""/>
                {% endif %}
                <div class="file btn btn-lg btn-primary">
                    Change Photo
                    <input type="file" name="file"/>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="profile-head">
                <h2>
                    {{ user.first_name }} {{ user.last_name }}
                </h2>
                <h5>
                    Membre depuis le {{ user.date_joined }}
                </h5>
                {% if user.type == "EMPLOYEE" %}
                <p class="proile-rating">RÔLE: <span>Employé</span></p>
                {% else %}
                <p class="proile-rating">ABONNEMENT EN COURS: <span>{{user.user_membership.membership.membership_type}}</span></p>
                {% endif %}
            </div>
         </div>
    </div>
</div>
{% endif %}

<div class="col-lg-12 flex d-flex justify-content-center">
    <div class="col-lg-6">
        <div class="tab-content profile-tab" id="myTabContent">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                {% for field in form %}
                    <div class="col-lg-6 align-text-center">
                        <label>{{field.label}}</label>
                    </div>
                    <div class="col-lg-6">
                        {{field}}
                    </div>
                    {% endfor %}
                </div>
                <div class="text-center">
                    <input type="submit" value="Update" class="primary-btn" style="margin-top:25px;margin-bottom:25px;">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Contact Answer-->
<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Changer la photo de profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" enctype="multipart/form-data" id="change_profile_picture" name="change_profile_picture" class="contactForm" action="{% url "user:change_profile_picture" %}">
            {% csrf_token %}
        <div class="modal-body input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Télécharger</span>
            </div>
            <div class="custom-file">
                <input lang="fr" type="file" name="file" class="custom-file-input" id="inputGroupFile01" onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])">
                <label class="custom-file-label">Choisir un fichier</label>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            {% if request.path|slice:":13" == '/user/detail/'%}
            <input type="hidden" name="user_id" value="{{ member.id}}" id="user_id">
            {% else %}
            <input type="hidden" name="user_id" value="{{ user.id}}" id="user_id">
            {% endif %}
            <button type="submit" class="submit-btn contact-btn" >Valider le changement</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

